.card_style{
    border: 1px solid transparent;
    width: 90%
}

.card_style:hover{
    box-shadow:  0 10px 10px rgba(0,0,0,0.22);
}

.btn_cart{
    text-decoration: none;
    border: 1px solid grey;
    padding: 5px;
    font-size: 12px;
    color: grey;
    
}

.btn_cart:hover{
    color: grey;
    box-shadow:  0 10px 10px rgba(0,0,0,0.22);
}

.btn_to_cart:hover
{
    border: 2px solid red;
}

.caurusel{
    margin-top: 40px;
}